#container
{
    margin: auto;
    max-height: 600px;
    position: relative;
    max-width: 800px;
}

#canvas
{
    border: 1px solid gray;
}

#play-button
{
    border-radius: 12px;
    background: #338BA8;
    color: white;
    bottom: 100px;
    left: 425px;
    position: absolute;
    width: 100px;
    height: 50px;
}

#data-div {
    background-image: url("../assets/images/canvas-background.png");
}

@media screen and (min-width: 781px) and (max-width: 840px) {
    #container {
        width: 100%;
        height: 100%;
    }

    #data-div {
        width: 100%;
        height: 100%;
    }

    #canvas {
        width: 100%;
        height: 100%;
    }
}
